/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Faculty Glyphic", Arial, sans-serif, system-ui;
  background-color: #1e1e1e;
  color: #f5f5f5;
  line-height: 1.6;
  padding: 15px;
  padding-bottom: 0;
}

/* Header Styles */
header {
  font-family: "Eagle Lake", cursive, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 60px 0;
  text-align: center;
  background: url(../img/larion_background.jpeg) no-repeat center center/cover;
  background-clip: border-box;
  background-origin: border-box;
  border-radius: 10px;
  border: 50px solid transparent;
  border-image-source: url(../img/celtic-border-golden.svg);
  border-image-slice: 700;
  border-image-repeat: round;
  border-image-width: 50px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}
header .header-content {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-variant: small-caps;
  font-weight: 600;
  color: #ffd;
  z-index: 1;
}
header .header-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
header .header-content p {
  font-size: 1.5em;
  color: #fffbf0;
}

/* Navigation Styles */
#menu {
  font-family: "Eagle Lake", cursive, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  position: sticky;
  top: 0;
  left: 50%;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 !important;
}
#menu ul {
  position: relative;
  background-color: rgba(51, 51, 51, 0.7);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  justify-content: center;
  list-style: none;
  padding: 5px;
  display: inline-flex;
  margin: 10px 0;
}
#menu ul li {
  margin: 0 15px;
}
#menu ul li a {
  min-width: 100px;
  text-decoration: none;
  color: rgb(255, 215, 0);
  padding: 15px 10px;
  border-radius: 5px;
  transition: all 0.2s ease;
  display: block;
  position: relative;
}
#menu ul li a .menu-label {
  display: inline;
  margin-left: 8px;
}
#menu ul li a:hover {
  color: #fffbf0;
  text-shadow: 0 0 3px #fff, 0 0 6px rgb(255, 215, 0);
  font-weight: 600;
  transform: scale(1.05);
}
#menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 215, 0);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
#menu ul li a:hover::after {
  transform: scaleX(1);
}

/* Main Content Styles */
main {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-width: 1200px;
  gap: 30px;
  flex-wrap: wrap;
}
main section {
  flex: 1;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
main section article {
  text-align: justify;
  margin: 0 auto;
  line-height: 1.5;
  padding: 0 10px;
  width: 80%;
}
main section article h3 {
  font-family: "Kalam", cursive;
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(255, 215, 0);
  text-align: center;
  margin-top: 10px;
}
main section h2 {
  text-align: center;
  font-family: "Eagle Lake", cursive;
  font-size: 2em;
  display: block;
  margin: 0 auto 20px;
  border-bottom: 2px solid rgb(255, 215, 0);
  padding: 0 20px 10px;
  width: 80%;
}

article h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
article p {
  margin-bottom: 20px;
}

/* Sections Styles */
#about .author-photo {
  margin: 10px auto;
  display: block;
  width: 200px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#projects #book-list {
  display: flex;
  flex-direction: wrap;
  gap: 10px;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
}
#projects #book-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#projects .project-card {
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: calc(33% - 40px);
  margin: 10px;
}

#contact .contact {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px 0;
}
#contact .contact .contact-info,
#contact .contact .contact-social {
  flex: 1 1 300px;
  text-align: center;
}
#contact .contact .contact-info h3,
#contact .contact .contact-social h3 {
  color: #f5f5f5;
}
#contact .contact .contact-info ul,
#contact .contact .contact-social ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
#contact .contact .contact-info ul li a,
#contact .contact .contact-social ul li a {
  color: rgb(255, 215, 0);
  text-decoration: none;
}
#contact .contact .contact-info ul li a:hover,
#contact .contact .contact-social ul li a:hover {
  font-weight: bold;
  color: rgb(255, 175, 0); /* Slightly brighter gold */
  transition: all 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#contact .contact .contact-info ul li i,
#contact .contact .contact-social ul li i {
  margin-right: 5px;
}
#contact .contact .contact-info ul li + li,
#contact .contact .contact-social ul li + li {
  margin: 5px 0; /* Add space between list items */
}

/*Footer Styles*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #444;
  color: #aaa;
  min-height: 80px;
}
footer #copyright {
  font-size: 0.9em;
  text-align: center;
  margin: 0 auto;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  body {
    font-size: 0.9em;
    padding: 7.5px;
    padding-bottom: 0;
  }
  header {
    padding: 30px 0;
  }
  header .header-content {
    padding: 10px 20px;
  }
  header .header-content h1 {
    font-size: 2.5em;
  }
  header .header-content p {
    font-size: 1.2em;
  }
  #menu {
    margin-top: 20px;
  }
  #menu ul {
    padding: 0 10px;
    margin: 0;
  }
  #menu ul li {
    margin: 5px 0;
  }
  #menu ul li a {
    min-width: auto;
    justify-content: center;
    padding: 10px 5px;
    font-size: 1.2em;
  }
  #menu ul li a .menu-label {
    display: none;
  }
  main {
    flex-direction: column;
    gap: 15px;
  }
  main section {
    flex: none;
    width: 100%;
    margin: 0;
    border-image-outset: 7.5px;
  }
  main section article {
    width: 90%;
    padding: 0 5px;
  }
  main section article h3 {
    font-size: 1.2em;
  }
  main section article p {
    font-size: 1em;
  }
  main #contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  main #contact .contact-info,
  main #contact .contact-social {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */