<h2>Kontakt</h2>
                <article>
                    <p>Masz pytania, chcesz porozmawiać o współpracy lub po prostu podzielić się swoimi przemyśleniami? Skontaktuj się ze mną!</p>
                    <div class="contact">
                        <div class="contact-info">
                            <h3>Skontaktuj się ze mną:</h3>
                            <ul id="contact-list">
                                <li>
                                    <i class="bi bi-envelope-at"></i>
                                    <a href="mailto:katarzyna.wilczar.writer@gmail.com">katarzyna.wilczar.writer@gmail.com</a>
                                </li>
                                <li>
                                    <i class="bi bi-whatsapp"></i>
                                    <a href="https://wa.me/+48690973352">+48 690 973 352</a>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-social">
                            <h3>Śledź mnie na mediach społecznościowych:</h3>
                            <ul is="social-media-list">
                                <li>
                                    <i class="bi bi-facebook"></i>
                                    <a href="https://www.facebook.com/akneth.writer">akneth.writer</a>
                                </li>
                                <li>
                                    <i class="bi bi-instagram"></i>
                                    <a href="https://www.instagram.com/akneth_writer/">akneth_writer</a></li>
                                    <li>
                                        <i class="bi bi-tiktok"></i>
                                        <a href="https://www.tiktok.com/@akneth_writer">@akneth_writer</a></li>
                                    </ul>
                        </div>
                    </div>
                </article>