<h2>Kontakt</h2>
                <article>
                    <div id="contact-intro">
                        <p>
                            Pytania, współpraca, refleksje po lekturze?
                            Napisz – nie potrzebujesz zaklęcia, wystarczy kilka słów.
                        </p>
                        <p>
                            Jeśli chcesz podzielić się swoimi przemyśleniami, zadać pytanie lub po prostu porozmawiać o literaturze fantasy, jestem tutaj, aby Cię wysłuchać.
                        </p>
                    </div>
                    <div class="contact">
                        <div class="contact-info">
                            <h3>Skontaktuj się ze mną:</h3>
                            <ul id="contact-list">
                                <li>
                                    <i class="bi bi-envelope-at"></i>
                                    <a href="mailto:katarzyna.wilczar.writer@gmail.com" target="_blank">katarzyna.wilczar.writer@gmail.com</a>
                                </li>
                                <li>
                                    <i class="bi bi-whatsapp"></i>
                                    <a href="https://wa.me/+48690973352" target="_blank">+48 690 973 352</a>
                                </li>
                                <li>
                                    <i class="bi bi-discord"></i>
                                    <a href="https://discord.com/users/424982018359558156" target="_blank">
                                        @_akneth <span class="note">(możliwe opóźnienie w odpowiedzi)</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="contact-social">
                            <h3>Śledź mnie na mediach społecznościowych:</h3>
                            <ul id="social-media-list">
                                <li>
                                    <i class="bi bi-facebook"></i>
                                    <a href="https://www.facebook.com/akneth.writer" target="_blank">akneth.writer</a>
                                </li>
                                <li>
                                    <i class="bi bi-instagram"></i>
                                    <a href="https://www.instagram.com/akneth_writer/" target="_blank">akneth_writer</a>
                                </li>
                                <li>
                                    <i class="bi bi-tiktok"></i>
                                    <a href="https://www.tiktok.com/@akneth_writer" target="_blank">@akneth_writer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>