<h2>Kontakt</h2>
                <article>
                    <div id="contact-intro">
                        <p>
                            Pytania, współpraca, refleksje po lekturze?
                            Napisz – nie potrzebujesz zaklęcia, wystarczy kilka słów.
                        </p>
                        <p>
                            Jeśli chcesz podzielić się swoimi przemyśleniami, zadać pytanie lub po prostu porozmawiać o literaturze fantasy, jestem tutaj, aby Cię wysłuchać.
                        </p>
                    </div>
                    <div class="contact">
                        <div class="contact-info">
                            <h3>Skontaktuj się ze mną:</h3>
                            <ul id="contact-list">
                                <li>
                                    <i class="bi bi-envelope-at"></i>
                                    <a href="mailto:katarzyna.wilczar.writer@gmail.com" target="_blank">katarzyna.wilczar.writer@gmail.com</a>
                                </li>
                                <li>
                                    <i class="bi bi-whatsapp"></i>
                                    <a href="https://wa.me/+48690973352" target="_blank">+48 690 973 352</a>
                                </li>
                                <li>
                                    <i class="bi bi-discord"></i>
                                    <a href="https://discord.com/users/424982018359558156" target="_blank">
                                        _akneth <span class="note">(możliwe opóźnienie w odpowiedzi)</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="contact-social">
                            <h3>Śledź mnie na mediach społecznościowych:</h3>
                            <ul id="social-media-list">
                                <li>
                                    <i class="bi bi-facebook"></i>
                                    <a href="https://www.facebook.com/akneth.writer" target="_blank">akneth.writer</a>
                                </li>
                                <li>
                                    <i class="bi bi-instagram"></i>
                                    <a href="https://www.instagram.com/akneth_writer/" target="_blank">akneth_writer</a>
                                </li>
                                <li>
                                    <i class="bi bi-tiktok"></i>
                                    <a href="https://www.tiktok.com/@akneth_writer" target="_blank">@akneth_writer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="support">
                        <h3>Jak możesz mnie wesprzeć?</h3>
                        <p>
                            Jeśli podoba Ci się moja twórczość i chciałbyś mnie wesprzeć, możesz to zrobić poprzez postawienie mi kawy.
                            Każda kawa to dla mnie ogromne wsparcie i motywacja do dalszego pisania.
                        </p>
                        <div style="width: 100%; max-width: 600px; ">
                          <div
                            style="
                              box-sizing: border-box;
                              background-color: #FFFFFF;
                              padding: 16px;
                              border-radius: 16px;
                              box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
                              width: 100%;
                              background-color: #FFFFFF;
                              color: #000000DE;
                              text-align: center;
                            "
                          >
                            <h3 style="font-size: 15px; font-weight: 600; line-height: 1.5; margin: 0;">
                              Postaw kawę za:
                            </h3>
                          </div>

                          <div style="display: flex; gap: 8px; margin-top: 12px; justify-content: center;">

                              <a
                                href="https://buycoffee.to/katarzyna.wilczar?coffeeSize=small"
                                style="
                                  display: flex;
                                  flex-direction: column;
                                  justify-content: center;
                                  align-items: center;
                                  padding: 16px;
                                  border-radius: 16px;
                                  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
                                  width: 100%;
                                  text-align: center;
                                  background-color: #FFFFFF;
                                  color: #000000DE;
                                  text-decoration: none;
                                "
                                target="_blank"
                                title="Postaw kawę za: 5 zł"
                              >
                                <img src="https://buycoffee.to/img/coffee-small-white.svg" alt="small coffee icon" style="width: 36px; height: 36px;" />
                                <span style="font-size: 15px; font-weight: 700; margin-top: 8px; line-height: 1.5;">
                                  5 zł
                                </span>
                              </a>
                          
                              <a
                                href="https://buycoffee.to/katarzyna.wilczar?coffeeSize=medium"
                                style="
                                  display: flex;
                                  flex-direction: column;
                                  justify-content: center;
                                  align-items: center;
                                  padding: 16px;
                                  border-radius: 16px;
                                  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
                                  width: 100%;
                                  text-align: center;
                                  background-color: #FFFFFF;
                                  color: #000000DE;
                                  text-decoration: none;
                                "
                                target="_blank"
                                title="Postaw kawę za: 10 zł"
                              >
                                <img src="https://buycoffee.to/img/coffee-medium-white.svg" alt="medium coffee icon" style="width: 36px; height: 36px;" />
                                <span style="font-size: 15px; font-weight: 700; margin-top: 8px; line-height: 1.5;">
                                  10 zł
                                </span>
                              </a>
                          
                              <a
                                href="https://buycoffee.to/katarzyna.wilczar?coffeeSize=large"
                                style="
                                  display: flex;
                                  flex-direction: column;
                                  justify-content: center;
                                  align-items: center;
                                  padding: 16px;
                                  border-radius: 16px;
                                  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
                                  width: 100%;
                                  text-align: center;
                                  background-color: #FFFFFF;
                                  color: #000000DE;
                                  text-decoration: none;
                                "
                                target="_blank"
                                title="Postaw kawę za: 15 zł"
                              >
                                <img src="https://buycoffee.to/img/coffee-large-white.svg" alt="large coffee icon" style="width: 36px; height: 36px;" />
                                <span style="font-size: 15px; font-weight: 700; margin-top: 8px; line-height: 1.5;">
                                  15 zł
                                </span>
                              </a>
                          
                          </div>
                      </div>
                    </div>
                </article>
                