<p id="copyright">
                &copy; <span id="year">2025</span> Katarzyna Wiłczar
                <span class="separator"> | </span>
                Wszelkie prawa zastrzeżone
                <span class="separator"> | </span>
                Realizacja: <a href="mailto:akneth.studio@gmail.com">AKNETH Studio</a>
            </p>

            <p id="policies">
                <a href="/policies/privacy.html"> Polityka prywatności</a> | <a href="/policies/rodo.html">RODO</a>
            </p>

            <button id="toTopBtn" class="to-top" aria-label="Wróć na górę">
                <i class="bi bi-arrow-up-circle" id="topIcon"></i>
                <span class="text">Do góry</span>
            </button>