<header>
            <div class ="header-content">
                <h1>Katarzyna Wiłczar</h1>
                <p>Pisarka fantasy</p>
            </div>
        </header>
        <nav id="menu">
            <ul>
                <li>
                    <a href="#about">
                        <i class="bi bi-person"></i>
                        <span class="menu-label">O mnie</span>
                    </a>
                </li>
                <li>
                    <a href="#projects">
                        <i class="bi bi-journal-text"></i>
                        <span class="menu-label">Projekty</span>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <i class="bi bi-envelope"></i>
                        <span class="menu-label">Kontakt</span>
                    </a>
                </li>
            </ul>
        </nav>