<div class="header-wrapper" id="header-wrapper">
            <div class="header-social">
                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/akneth.writer" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/akneth_writer/" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@akneth_writer" target="_blank">
                            <i class="bi bi-tiktok"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://discord.com/users/424982018359558156" target="_blank">
                            <i class="bi bi-discord"></i>
                        </a>
                    </li>
                </ul>
                <ul class="support-icons">
                    <li>
                        <a href="https://buycoffee.to/katarzyna.wilczar" target="_blank"><img src="https://buycoffee.to/img/share-button-dark.png" style="width: 136px; height: 35px" alt="Postaw mi kawę na buycoffee.to"></a>

                    </li>
                </ul>
            </div>

            <header>
                <div class ="header-content">
                    <h1>Katarzyna Wiłczar</h1>
                    <p>Pisarka fantasy</p>
                </div>
            </header>
        </div>
        <nav id="menu">
            <ul>
                <li>
                    <a href="#about">
                        <i class="bi bi-person"></i>
                        <span class="menu-label">O mnie</span>
                    </a>
                </li>
                <li>
                    <a href="#projects">
                        <i class="bi bi-journal-text"></i>
                        <span class="menu-label">Projekty</span>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <i class="bi bi-envelope"></i>
                        <span class="menu-label">Kontakt</span>
                    </a>
                </li>
            </ul>
        </nav>