<section id="projects">
            <h2>Projekty</h2>
                <ul id="book-list">
                    <!-- FIXME Na razie ukryte, w razie wydania książki usunąć w scss/section wiersz 'display:none' i tu podmienić linki -->
                    <li><a href="/books/book1.html">Książka 1</a></li>
                    <li><a href="/books/book2.html">Książka 2</a></li>
                    <li><a href="/books/book3.html">Książka 3</a></li>
                </ul>
                <article class="project-card">
                    <h3>Pieśń Ostatniego Świtu</h3>
                    <p class="aboutp">Epicka powieść fantasy</p>
                    <p>
                        W świecie Larionu, rozdartego pomiędzy światłem a wszechogarniającą Ciemnością, rozgrywa się opowieść o przeznaczeniu, sile więzi i odwadze w obliczu ostatecznego zagrożenia. Gudrun Aethelyn i Zephyr Eldren, prowadzeni przez tajemnicze moce oraz ciężar własnej przeszłości, wyruszają w podróż, która wystawi ich na próbę zarówno w walce z zewnętrznym złem, jak i z własnymi lękami. „Pieśń Ostatniego Świtu” to historia, która łączy klasyczną epicką przygodę z psychologiczną głębią bohaterów i klimatem mrocznego, wciągającego świata fantasy.
                    </p>
                    <button class="more">
                        <a href="/books/book1.html">Więcej...</a> <!--FIXME po wydaniu czegokolwiek, odpowiednio usunąć linijkę w scss/section i zaktualizować link -->
                    </button>
                </article>
                <article class="project-card">
                    <h3>Echo Przeznaczenia</h3>
                    <p class="aboutp">Nowela fantasy</p>
                    <p>Intymna opowieść o wojowniku i cenie, jaką trzeba zapłacić za własne wybory. Zephyr Eldren – paladyn rozdarty między lojalnością, poczuciem obowiązku a pytaniami, których nie da się uciszyć ostrzem miecza – zmuszony jest stanąć twarzą w twarz z własną przeszłością i nieuchronnością przeznaczenia. W cieniu dogasającego ognia i wspomnień, „Echo Przeznaczenia” porusza motyw walki z samym sobą i poszukiwania odpowiedzi, które czasem ranią mocniej niż najgroźniejszy wróg.</p>
                    <button class="more">
                        <a href="/books/book2.html">Więcej...</a> <!--FIXME po wydaniu czegokolwiek, odpowiednio usunąć linijkę w scss/section i zaktualizować link -->
                    </button>
                </article>
            </section>