@use "../helpers/variables" as *;
@use "../helpers/fonts" as *;
@use "sass:map";

/* Header Styles */
header#main-header {
    font-family: $header-font;
    padding: 20px 0; 
    margin: 0 auto;
    z-index: 1;
    flex: 1 1 50%;
    text-align: left;
    justify-content: flex-start;

    .header-content {
        text-shadow: map.get($text-shadow, "dark");
        font-variant: small-caps;
        font-weight: 600;
        
        h1 {
            font-size: 3em;
            margin-bottom: 10px;
            color: #ffd;
            text-align: left;
        }

        p {
            font-size: 1.5em;
            color: #fffbf0;
        }
    }
}