@use "./helpers/variables" as *;
@use "./helpers/fonts" as *;

/*Footer Styles*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 0 15px;
    border-top: 1px solid #444;
    color: #aaa;
    min-height: 80px;
    position: relative;

    #copyright {
        font-size: 0.9em;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
    }

    .to-top {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: #aaa;
        font-size: 1em;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        transition: color 0.3s ease;
        i {
            font-size: 1.5em;
            transition: transform 0.3s ease;
        }

        &:hover {
            color: $primary-color;
        }

        &:hover i {
            transform: scale(1.2);
        }

        .text {
            display: inline-block;
        }
    }
    @media (max-width: 768px) {
        .to-top {
            right: 10px;        
            .text {
                display: none;
            }
        }
    }

}