@use "helpers/variables" as *;
@use "helpers/fonts" as *;

@use "sass:map";

// Importing the header styles
@use "header/hsocial.scss";
@use "header/_header.scss";
@use "header/_menu.scss";

/* Header Wrapper Styles */
#header-wrapper {
    backdrop-filter: blur(10px);
    padding: 1rem;
    padding-top: 0;
    margin: 0 auto;
    background: url(../img/larion_background.jpeg) no-repeat center center/cover;
    background-clip: border-box;
    background-origin: border-box;
    border-radius: 10px;
    border: 30px solid transparent;
    border-image-source: url(../img/celtic-border-golden.svg);
    border-image-slice: 700;
    border-image-repeat: round;
    border-image-width: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 250px;
    
}

