/// Media queries i style responsywne dla całego projektu.
///
/// @group media
/// @author AKNETH Studio Katarzyna Pawłowska-Malesa
/// @date 2025-06-01
/// @description
/// Zawiera reguły dostosowujące układ, typografię i elementy interfejsu do urządzeń mobilnych i mniejszych ekranów.
/// 

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 0.9em;
        padding: 0 7.5px;
    }

    #header-social {
        display: none;
    }

    #header-wrapper {
        margin-top: 7.5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        header#main-header,
        #menu {
            flex: none;
            width: 100%;
            justify-content: center;
            text-align: center;
            margin-bottom: 10px;
        }

        #menu {
            margin-top: 20px;
            ul {
                padding: 0 10px;
                margin: 0;
                flex-wrap: wrap;
                justify-content: center;
                li {
                    margin: 5px 0;
                    a {
                        .menu-label {
                            display: none;
                        }
                        min-width: auto;
                        justify-content: center;
                        padding: 10px 5px;
                        font-size: 1.2em;
                    }
                }
            }
        }

        header#main-header {
            padding: 10px 0;
            
            .header-content {
                padding: 10px 20px;
                h1 {
                    font-size: 2.5em;
                    text-align: center;
                }
                p {
                    font-size: 1.2em;
                }
            }
            
        }
    }

    #header-wrapper.is-sticky {
        min-height: 20px;
        padding: 5px 0;
        header#main-header {
            display: none;
        }
    }

    main {
        flex-direction: column;
        gap: 15px;
        section {
            flex: none;
            width: 100%;
            margin: 0;
            border-image-outset: 7.5px;

            h2{
                font-size: 1.5em;
                margin-bottom: 15px;
                width: 90%;
            }

            article {
                width: 90%;
                padding: 0 5px;
                h3 {
                    font-size: 1.25em;
                }
                p {
                    font-size: 0.9em;
                }
            }
        }

        #about {
            .author-photo {
                width: 100px;
            }
        }

        #projects{
            #book-list {
                width: 100%;
                flex-direction: column;
                align-items: center;
                li {
                    width: 100%;
                    text-align: center;

                    a {
                        display: block;
                        font-size: 0.9em;
                    }
                }
            }

            .project-card {
                width: 90%;
                margin: 10px auto;
            }
        }

        #contact {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .contact-info,
            .contact-social {
                width: 100%;
            }

            ul li a .note,
            ul li span .note {
                font-size: 0.75em;
            }
        }
    }
    #privacy-policy .privacy-content {
        padding: 0;
        margin: 0 auto;
        ol {
            padding-left: 1rem; /* lub mniej/mocniej wcięte */
        }

        ol > li {
            margin-left: 0.5rem;
        }
        ul {
            padding-left: 1rem; /* lub mniej/mocniej wcięte */
        }
        ul > li {
            margin-left: 0.5rem;
        }
        ol.I {
            width: 95%;
            padding: 0;
            margin: 0 auto;
            justify-content: center;
            line-break: auto;
            li {
                margin: 5px auto;
                padding: 0 10px;
                font-size: 0.8rem;
                ol li{
                    list-style-position: inside;
                }
            }
        }
    }
    footer{
        padding: 20px 0;
        p#copyright {
            font-size: 0.75rem;
        }

    }
}