@use "../helpers/variables" as *;
@use "../helpers/fonts" as *;
@use "sass:map";

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px; // Base font size
}


body {
    font-family: $body-font;
    background-color: #1e1e1e;
    color: $body-color;
    line-height: 1.6;
    
}