/// Style sekcji głównych strony: o mnie, projekty, kontakt.
/// 
/// @group section
/// @author AKNETH Studio Katarzyna Pawłowska-Malesa
/// @date 2025-06-01
/// @description
/// Plik zawiera stylizację sekcji tematycznych strony, w tym układ, responsywność, karty projektów oraz efekty dla linków i elementów kontaktowych.
/// 

@use "../helpers/_variables" as *;
@use "../helpers/fonts" as *;
@use "sass:map";
/* Sections Styles */

/* About Section */
#about{
    .author-photo{
        margin: 10px auto;
        display: block;
        width: 200px;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}

/* Projects Section */
#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    #book-list{
        display: flex;
        flex-direction: wrap;
        gap: 10px;
        margin: 0 auto;
        width: 80%;
        justify-content: center;

        li{
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .project-card{
        background-color: #2e2e2e;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: calc(33% - 40px);
        margin: 10px;
    }
}

/* Contact Section */
#contact{
    #contact-intro{
        text-align: center;
    }
    .contact{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px 0;

        .contact-info,
        .contact-social {
            flex: 1 1 400px; // elastyczne, ale minimum 300px
            h3{
                color: $body-color;
            }
            text-align: center;
            ul{
                list-style: none;
                padding: 0;
                margin: 0 auto;
                li{
                    a{
                        color: $primary-color;
                        text-decoration: none;
                        &:hover{
                            font-weight: bold;
                            color: $secondary-color; /* Slightly brighter gold */
                            transition: all 0.3s ease;
                            text-shadow: map.get($text-shadow, "light");
                        }
                    }
                    i{
                        margin-right: 5px;
                    }

                    a .note,
                    span .note {
                        font-size: 0.85em;
                        color: #ccc;
                        margin-left: 4px;
                        font-style: italic;
                    }

                }
                li + li {
                    margin: 5px 0; /* Add space between list items */
                }
            }
        }
    }

    .support {
        text-align: center;
        margin-top: 20px;
        h3{
            color: $body-color;
        }
        div {
            margin: 0 auto;
            h3 {
                font-family: $body-font;
                color: black;
                font-weight: lighter;
            }
        }
    }
}