/// Style sekcji głównych strony: o mnie, projekty, kontakt.
/// 
/// @group section
/// @author AKNETH Studio Katarzyna Pawłowska-Malesa
/// @date 2025-06-01
/// @description
/// Plik zawiera stylizację sekcji tematycznych strony, w tym układ, responsywność, karty projektów oraz efekty dla linków i elementów kontaktowych.
/// 

@use "../helpers/_variables" as *;
@use "../helpers/fonts" as *;
@use "sass:map";
/* Sections Styles */

/* About Section */
#about{
    .author-photo{
        margin: 10px auto;
        display: block;
        width: 200px;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}

/* Projects Section */
#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    @media (max-width: 768px) {
        gap:0;
        padding:0;
    }

    #book-list{
        display: flex;
        display: none; // FIXME Jeśli wydam jakąś książkę, usunąć ten wiersz
        flex-direction: wrap;
        gap: 10px;
        margin: 0 auto;
        width: 80%;
        justify-content: center;

        li{
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .project-card{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #2e2e2e;
        background-image: url('/img/paper-3.png');
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: calc(33% - 1.5rem);
        margin: 10px;

        .aboutp {
            font-style: italic;
            text-align: center;
            font-size: 0.75rem;
            margin-bottom: 1rem;
        }

        .more {
            display: none; // FIXME jak wydam książki, to usunąć tą linijkę
            margin-top: auto;
            align-self: flex-start;
            align-items: center;
            margin-top: auto;
            justify-content: center;
            padding: 5px 15px;
            border-radius: 2rem;
            background-color: #2e2e2e;
            border: 2px solid rgba(46, 46, 46, 0.5);
            transition: all 0.3 ease;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);;
            a{
                text-decoration: none;
                color: $primary-color;
            }

            &:hover{
                background-color: $primary-color;
                border: 2px solid $secondary-color;
                transform: scale(1.1);
                a{
                    color: #2e2e2e;
                }
            }
        }

        @media (max-width:768px) {
            padding: 15px;
            margin: 0;
            width: 100%;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            .more {
                align-self: center;
                margin: 0 auto;
                a {
                    font-size: 0.9em;
                }
            }
        }
    }
}

/* Contact Section */
#contact{
    #contact-intro{
        text-align: center;
    }
    .contact{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px 0;

        .contact-info,
        .contact-social {
            flex: 1 1 400px; // elastyczne, ale minimum 300px
            h3{
                color: $body-color;
            }
            text-align: center;
            ul{
                list-style: none;
                padding: 0;
                margin: 0 auto;
                li{
                    a{
                        color: $primary-color;
                        text-decoration: none;
                        &:hover{
                            font-weight: bold;
                            color: $secondary-color; /* Slightly brighter gold */
                            transition: all 0.3s ease;
                            text-shadow: map.get($text-shadow, "light");
                        }
                    }
                    i{
                        margin-right: 5px;
                    }

                    a .note,
                    span .note {
                        font-size: 0.85em;
                        color: #ccc;
                        margin-left: 4px;
                        font-style: italic;
                    }

                }
                li + li {
                    margin: 5px 0; /* Add space between list items */
                }
            }
        }
    }

    .support {
        text-align: center;
        margin-top: 20px;
        h3{
            color: $body-color;
        }
        div {
            margin: 0 auto;
            h3 {
                font-family: $body-font;
                color: black;
                font-weight: lighter;
            }
        }
    }
}